<!doctype html>
<html lang="en">
<head>
    <title>前端开发_HTML/CSS入门基础到高级教程_慕课网</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="慕课网精品课程，为您提供专业的IT实战开发课程，包含前端开发、后端开发、移动端开发、数据处理、图像处理等各方面IT技能，课程全面、制作精良、讲解通俗易懂。">
    <meta name="keywords" content="HTML/CSS视频教程，HTML/CSS入门教程，HTML/CSS基础教程，HTML/CSS入门，HTML/CSS精通">
    <meta name="author" content="">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-transform "/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <script type="text/javascript" src="/statics/js/flexible.js"></script>
    <script type="text/javascript">
        var userInfo = "";
    </script>
    <link rel="stylesheet" href="/statics/css/common_e75f96d.css"/>
    <link rel="stylesheet" href="/statics/css/course_8c1cd8f.css"/>
</head>
<body>
<header>
    <div class="header clearfix">

        <!-- {*非一级目录 有返回键 可能有name字段 可能有搜索框*} -->
        <a class="imwap-arrow_l goback l" href="javascript:history.go(-1)"></a>
        <span class='js-header-name header-name header-tit l'>
            {$names[0]['name']}
			</span>
        <a href="//m.imooc.com/account/login" class="right-box r js-header-avator">
            <i class="imwap-Center"></i>
        </a>
    </div>
</header>
<div id="wrapper">
    <div id="middle" class="container">
        <div id="pages-container">
            <div class="course-class clearfix">
                <div class="l">
                    <a href="javascript:void(0);" class="js-slide js-type" data-type="type"><span>全部</span><i
                            class="imwap-arrow_d"></i></a>
                    <a href="javascript:void(0);" class="js-slide js-best" data-type="best"><span>最热</span><i
                            class="imwap-arrow_d"></i></a>
                </div>
            </div>
            <dl class="course-class-box js-type-tab">
                <dd><a href="javascript:void(0);" data-type="0" class="cur">全部</a></dd>

                <dd>
                    <a href="javascript:void(0);" data-type="1">基础</a>
                </dd>

                <dd>
                    <a href="javascript:void(0);" data-type="2">案例</a>
                </dd>

                <dd>
                    <a href="javascript:void(0);" data-type="3">框架</a>
                </dd>
            </dl>
            <dl class="course-class-box js-best-tab">
                <dd><a href="javascript:void(0);" class="cur" data-order="2">最热</a></dd>
                <dd><a href="javascript:void(0);" data-order="1">最新</a></dd>
            </dl>
            <div class="loading js-loading">
                <img src="/statics/images/refresh.gif">
            </div>
            <dl class="js-course-list course-list clearfix">
                {loop $lists $k $v}
                <dd>
                    {if $userid}
                    <a  class="clearfix" href="/index.php?m=mooc&c=index&a=course&id={$v['id']}">
                        {else}
                        <a  class="clearfix" href="/index.php?m=member&c=index&a=login">;
                            {/if}
                        <div class="l pr"><img src="//img1.mukewang.com/529dc3380001379906000338-590-330.jpg"></div>
                        <div class="l course-info"><p class="tit">{$v['title']}</p>
                            <p class="desc">{$v['description']}</p>
                            <p class="info">入门<em>·</em>{$v['view_count']}人在学 </p></div>
                    </a>
                </dd>
                {/loop}
            </dl>
            <a class="loading-more js-load-course" data-type="0" style="display:none;">点击加载更多</a>
            <p class="load-tip js-load-tip" style="display:none;">没有更多数据了哟~</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="/statics/js/jquery-2.1.0.min_ac9f840.js"></script>
<script type="text/javascript">
    $(function () {
        function addClass(o){
            $(`.js-${o}`).on('click',function(){
                if(o==='type'){
                    $('.js-best').removeClass('slideshow');
                    $('.js-best-tab').hide();
                }else{
                    $('.js-type').removeClass('slideshow');
                    $('.js-type-tab').hide();
                }
                $(this).toggleClass('slideshow');
                $(`.js-${o}-tab`).toggle();
            })
        }
        addClass('type');
        addClass('best');
        function  add(o) {
            $( `.js-${o}-tab a`).on('click',function(){
                $(this).closest('dl').find('a').removeClass('cur');
                $(this).toggleClass('cur');
                $(this).closest('dl').hide();
//                $('.course-class-box').hide();
                $(`.js-${o} span`).text($(this).text());
                $( `.js-${o}`).removeClass('slideshow');
                fetch_data();
            })
        }
        add('type');
        add('best');
        let loading=$('.js-loading');
        function fetch_data(){
            var type_id=$('.js-type-tab .cur').attr('data-type');//从前台获取到的数据
            var order=$('.js-best-tab .cur').attr('data-order');
//            这里面的id是告诉页面他去course表里找的是哪个id数据号
            loading.show();
            $.getJSON(
                `/index.php?m=mooc&c=index&a=s&id={$id}&type_id=${type_id}&order=${order}`
            ).done(function (data) {
                loading.hide();
                $('.js-course-list').empty();
                data.forEach((v,i)=>{
                    $(`<dd>
                         <a class="clearfix" href="/index.php?m=member&c=index&a=login">;
                         <div class="l pr">
                            <img src="//img1.mukewang.com/529dc3380001379906000338-590-330.jpg">
                         </div>
                        <div class="l course-info"><p class="tit">${v.title}</p>
                            <p class="desc">${v.description}</p>
                            <p class="info">入门<em>·</em>${v.view_count}人在学 </p></div>
                    </a>
                    </dd>`).appendTo('.js-course-list');
                })
            })
        }
    })
</script>

</body>
</html>
