<!doctype html>
<html lang="en">
<head>
    <title>慕课网</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="慕课网">
    <meta name="keywords" content="慕课网">
    <meta name="author" content="">
    <meta name = "format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <script type="text/javascript" src="/statics/js/flexible.js"></script>
    <link rel="stylesheet" href="/statics/css/common_e75f96d.css" />
    <link rel="stylesheet" href="/statics/css/search_45678ed.css" />
</head>
<body >
<header >
    <div class="header focus clearfix">

        <!-- {*非一级目录 有返回键 可能有name字段 可能有搜索框*} -->
        <a class="imwap-arrow_l goback l" href=""></a>
        <a href="//m.imooc.com/account/login" class="right-box r js-header-avator">
            <i class="imwap-Center"></i>
        </a>
        <form class="search-box r clearfix js-search-box  " style=" " action="//m.imooc.com/search/">
            <div class="l search-input hasnameinput-2">
                <input type="text" class="search js-search" name="words" value="vue" placeholder="请输入搜索关键词">
                <div class="search-action l">
                    <a href="javascript:void(0);" class="imwap-close js-clear" style="display: none;"></a>
                    <button class="imwap-search"></button>
                </div>
            </div>
            <a href="/index.php" class="r cancel ">取消</a>
        </form>
    </div>
</header>
<div class="search-record js-search-record" style="display: none;">
</div>
<div id="wrapper">
    <div id="middle" class="container">
        <div id="pages-container">
            <div class="search-result">
                <dl class="nav-list clearfix">
                    <dd><a onclick="_hmt.push(['_trackEvent', '搜索结果页', 'click', '全站按钮点击次数'])" href="/search/?words=vue" class="cur">全站</a></dd>
                    <dd><a onclick="_hmt.push(['_trackEvent', '搜索结果页', 'click', '课程按钮点击次数'])" href="/search/course?words=vue" >课程</a></dd>
                    <dd><a onclick="_hmt.push(['_trackEvent', '搜索结果页', 'click', '猿问按钮点击次数'])" href="/search/wenda?words=vue" >猿问</a></dd>
                    <dd><a onclick="_hmt.push(['_trackEvent', '搜索结果页', 'click', '手记按钮点击次数'])" href="/search/article?words=vue" >手记</a></dd>
                </dl>
                <p class="result-count">共找到753个相关内容
                    <div class="content-box">
                <p class="type-tit">课程</p>
                <dl class="search-course-list">
                    <dd>
                        <a href="http://coding.imooc.com/class/196.html" class="clearfix">
                            <img src="//img3.mukewang.com/szimg/5aab7f270001909810800600-360-202.jpg" class="l">
                            <div class="l search-course-info">
                                <p class="tit"><span  class='highlight'>Vue</span>核心技术 Vue+Vue-Router+Vuex+SSR实战精讲</p>

                                <p class="desc">深入讲解Vue核心技术，展示Vue应用开发中的各种问题和最适合的解决方案</p>

                                <p class="info"><label>实战</label><span>355人在学 </span></p>
                            </div>
                        </a>
                    </dd>
                    <dd>
                        <a href="http://coding.imooc.com/class/107.html" class="clearfix">
                            <img src="//img1.mukewang.com/szimg/592e2eab0001302505660314-360-202.jpg" class="l">
                            <div class="l search-course-info">
                                <p class="tit">全网稀缺<span  class='highlight'>Vue</span> 2.0高级实战 独立开发专属音乐WebAPP</p>
                                <p class="desc">独一无二的Vue 2.0高级组件化开发实战课程，达到百度T4水平</p>
                                <p class="info"><label>实战</label><span>2778人在学 </span></p>
                            </div>
                        </a>
                    </dd>
                    <dd>
                        <a href="http://coding.imooc.com/class/119.html" class="clearfix">
                            <img src="//img3.mukewang.com/szimg/59eeb2340001f59105400300-360-202.jpg" class="l">
                            <div class="l search-course-info">
                                <p class="tit">开发微信全家桶项目<span  class='highlight'>Vue</span>/Node/MongoDB高级技术栈全覆盖</p>

                                <p class="desc">Nuxt/Vue SSR + Koa2 跨栈开发微信公众号+小程序</p>

                                <p class="info"><label>实战</label><span>673人在学 </span></p>
                            </div>
                        </a>
                    </dd>
                    <dd>
                        <a href="http://coding.imooc.com/class/91.html" class="clearfix">
                            <img src="//img4.mukewang.com/szimg/58ca659a00017c3705400300-360-202.jpg" class="l">
                            <div class="l search-course-info">
                                <p class="tit">最容易上手的<span  class='highlight'>Vue</span> 2.0入门实战教程</p>

                                <p class="desc">快速入门Vue 2.0，组件化开发一个数字产品电商平台</p>

                                <p class="info"><label>实战</label><span>3757人在学 </span></p>
                            </div>
                        </a>
                    </dd>
                    <dd>
                        <a href="http://coding.imooc.com/class/203.html" class="clearfix">
                            <img src="//img1.mukewang.com/szimg/5ac2dfe100014a9005400300-360-202.jpg" class="l">
                            <div class="l search-course-info">
                                <p class="tit"> Vue2.5开发去哪儿网App 从零基础入门到实战项目</p>

                                <p class="desc">从基础语法到完整项目，一套课程掌握Vue基础知识点</p>

                                <p class="info"><label>实战</label><span>232人在学 </span></p>
                            </div>
                        </a>
                    </dd>
                </dl>
                <a href="/search/course?words=vue" class="check-type-btn">更多课程搜索结果</a>
            </div>

            <div class="content-box">
                <p class="type-tit">猿问</p>
                <dl class="search-ques-list">
                    <dd>
                        <a href="http://www.imooc.com/wenda/detail/339686" class="clearfix">
                            <p class="question"><span  class='highlight'>vue</span> 命令找不到</p>
                            <p class="answer-user">堂堂堂堂糖糖糖童鞋 的回答</p>
                            <p class="answer">需要全局安装vue&lt;...code...&gt;-g 是全局的意思（global）cnpm [淘宝 NPM 镜像](http://npm.taobao.org/)</p>
                        </a>
                    </dd>
                    <dd>
                        <a href="http://www.imooc.com/wenda/detail/327370" class="clearfix">
                            <p class="question">vuejs里<span  class='highlight'>vue</span>未定义</p>

                            <p class="answer-user">八九不离十W3C 的回答</p>
                            <p class="answer">没有安装VUE，如下：sudo cnpm install -g vuesudo cnpm install -g vue@csp</p>
                        </a>
                    </dd>
                    <dd>
                        <a href="http://www.imooc.com/wenda/detail/346762" class="clearfix">
                            <p class="question"><span  class='highlight'>vue</span>结合ajax</p>
                            <p class="answer-user">abc26296 的回答</p>
                            <p class="answer">vue中使用axios或xe-ajax</p>
                        </a>
                    </dd>
                </dl>
                <a href="/search/wenda?words=vue" class="check-type-btn">更多猿问搜索结果</a>
            </div>
            <div class="content-box">
                <p class="type-tit">手记</p>
                <dl class="search-article-list">
                    <dd>
                        <a href="http://www.imooc.com/article/20895" class="clearfix">
                            <p class="question"><span  class='highlight'>vue</span>，<span  class='highlight'>vue</span>，<span  class='highlight'>vue</span>，<span  class='highlight'>vue</span>，<span  class='highlight'>vue</span>，</p>
                            <p class="answer">1. <span  class='highlight'>vue</span> 的三个特点： 数据双向绑定，组件化，单文件组件 2、<span  class='highlight'>vue</span>的基本概念 全局api： vue.extend, vue.set 实例选项: new <span  class='highlight'>Vue</span>() el,data,compents都是<span  class='highlight'>vue</span>实例选项 实例属性和方法： vm.$on,vm.$data 在$都是<span  class='highlight'>vue</span>的实例和方法 指令：directive 内置组件：&lt;components&gt;&lt</p>
                        </a>
                    </dd>

                    <dd>
                        <a href="http://www.imooc.com/article/14811" class="clearfix">
                            <p class="question"><span  class='highlight'>vue</span>新手入门demo vue2.0+<span  class='highlight'>vue</span>-router+vuex</p>
                            <p class="answer"><span  class='highlight'>vue</span>新手入门demo vue2.0+<span  class='highlight'>vue</span>-router+vuex 介绍 <span  class='highlight'>vue</span>新手学习的一个项目 宠物领养 前端所用的是vue2.0+<span  class='highlight'>vue</span>-router+vuex+axios webpack的配置之前是自己写的，但看过<span  class='highlight'>vue</span>-cli后觉得那个更好，所以就用<span  class='highlight'>vue</span>-cli webpack-simple那个，个人建议新手还是用simple的版本好点 数据的话暂时还没做后端，所以用mock.js</p>
                        </a>
                    </dd>
                    <dd>
                        <a href="http://www.imooc.com/article/18616" class="clearfix">
                            <p class="question"><span  class='highlight'>vue</span>-sell-master练习笔记</p>
                            <p class="answer">main.js代码： import <span  class='highlight'>Vue</span> from &#039;<span  class='highlight'>vue</span>&#039;; import VueRouter from &#039;<span  class='highlight'>vue</span>-router&#039;; import VueResource from &#039;<span  class='highlight'>vue</span>-resource&#039;; import App from &#039;./App&#039;; import goods from &#039</p>
                        </a>
                    </dd>
                </dl>
                <a href="/search/article?words=vue" class="check-type-btn">更多手记搜索结果</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
